:root {
    --primary-color: #ffffff;
    --secondary-color: #CCC7BF;
    --text-color: #31393C;
    --accent-color: #3E96F4;
    --background-color: #EDEEEB;
    --line-color: #cacaca;
    --dark-blue: #154c79;
}